.iceMnuBar { 
    background-color: #C7511F;
	padding: 0px;
    white-space: nowrap;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 0px;
}

.iceMnuBarItem { 
    padding: 0px;
    white-space: nowrap;
    float: none;
}
.iceMnuBarItem a { 
    background-color: #C7511F;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
	color: #fff;
    margin: 0px;
    border-right: 1px solid #FFFFFF;
    width: auto;
    display: block;
    text-decoration: none;
}
.iceMnuBarItem a:hover { 
	background-color: #C7511F;
	color: #fe6;
}
