<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns:b="http://www.springframework.org/schema/beans"
	xmlns="http://www.springframework.org/schema/security" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">


	<http entry-point-ref="casEntryPoint">
		<intercept-url pattern="/secure/**" access="ROLE_USER" />
		<custom-filter position="CAS_FILTER" ref="casFilter" />
	</http>
	<b:bean id="casFilter"
		class="org.springframework.security.cas.web.CasAuthenticationFilter">
		<b:property name="authenticationManager" ref="authenticationManager" />
	</b:bean>
	<b:bean id="casEntryPoint"
		class="org.springframework.security.cas.web.CasAuthenticationEntryPoint">
		<b:property name="loginUrl" value="https://${cas.server.host}/cas/login" />
		<b:property name="serviceProperties" ref="serviceProperties" />
	</b:bean>
	<authentication-manager alias="authenticationManager">
		<authentication-provider ref="casAuthProvider" />
	</authentication-manager>
	<b:bean id="serviceProperties" class="org.springframework.security.cas.ServiceProperties">
		<b:property name="service"
			value="http://${cas.service.host}/j_spring_cas_security_check" />
		<b:property name="sendRenew" value="false" />
	</b:bean>

	<b:bean id="casAuthProvider"
		class="org.springframework.security.cas.authentication.CasAuthenticationProvider">
		<b:property name="userDetailsService" ref="casUserDetailsService" />
		<b:property name="serviceProperties" ref="serviceProperties" />
		<b:property name="ticketValidator">
			<b:bean class="org.jasig.cas.client.validation.Cas20ServiceTicketValidator">
				<b:constructor-arg index="0"
					value="https://${cas.server.host}/cas" />
			</b:bean>
		</b:property>
		<b:property name="key" value="casAuthProviderKey" />

	</b:bean>
	<b:bean id="casUserDetailsService" class="ytex.umls.cas.CASUserDetailsServiceImpl">
	</b:bean>
	<!-- Configuration for the environment can be overriden by system properties -->
	<context:property-placeholder
		system-properties-mode="OVERRIDE" properties-ref="environment" />
	<util:properties id="environment">
		<b:prop key="cas.service.host">localhost:8080/umls.download</b:prop>
		<b:prop key="cas.server.host">utslogin.nlm.nih.gov</b:prop>
	</util:properties>

	<b:bean id="downloadDao" class="ytex.umls.dao.DownloadDAOSimpleDBImpl">
	</b:bean>
	<b:bean class="ytex.umls.model.DownloadEntry" />
	<b:bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />
	<b:bean id="awsProperties"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<b:property name="location" value="classpath:AwsCredentials.properties" />
	</b:bean>		
	<b:bean id="downloadUrlGenerator"
		class="ytex.umls.DownloadURLGeneratorImpl">
		<b:property name="awsProperties" ref="awsProperties" />
	</b:bean>		

</b:beans>
