<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ytex.kernel/src/main/java/ytex/libsvm/CreateStratifiedCVFolds.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ytex.libsvm.CreateStratifiedCVFolds"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-data ${workspace_loc}/i2b2.2008/libsvm/bocuis/training_data_1.txt -instanceId ${workspace_loc}/i2b2.2008/libsvm/bocuis/training_id_1.txt -outdir e:\temp\libsvm-cv"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ytex.kernel"/>
</launchConfiguration>
